<query-editor-row query-ctrl="ctrl" can-collapse="false">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-6">Query</label>
            <label class="switch">
                <input type="checkbox" ng-model="ctrl.target.catalogBrowsing"
                ng-change="ctrl.showValue(ctrl.target.catalogBrowsing)">
                <span class="slider round"></span>
            </label>
            <label class="gf-form--grow">
                <input type="text" class="gf-form-input" ng-model="ctrl.target.expr"
                       ng-change="ctrl.suggestMetrics(ctrl.target.expr, ctrl.makeTable, ctrl.target.html)"
                       ng-blur="ctrl.panelCtrl.refresh()"/>
                <div class="haha" ng-bind-html="ctrl.target.html"></div>
            </label>
        </div>
    </div>
    <!--<div class="gf-form-inline" ng-show="ctrl.target.error">-->
        <!--<div class="gf-form gf-form&#45;&#45;grow">-->
            <!--<div class="width-"></div>-->
            <!--<div class="error">{{ctrl.target.error}}</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="gf-form" ng-show="ctrl.target.error">
        <div class="width-9"></div>
        <pre class="gf-form-pre error">{{ctrl.target.error}}</pre>
    </div>
</query-editor-row>
